.header_bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #03484D;
  height: 68px;
  color: #FFFFFF;

  .search_bar {
    width: 60%;
    height: 39px;
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #ABA3A3;
    // margin-right: 41px;

    // box-sizing: border-box;

    .search_categories {
      display: flex;
      padding-left: 17.5008px;
      // width: 133px;

      .search_categories_down_arrow {
        padding-left: 18px;
      }
    }

    .search_divider {
      border: 1px solid #AEAEAE;
      transform: rotate(-90deg);
      height: 36px;
      rotate: 90deg;
      margin: 12px;
    }

    .search_area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .search__input_area {
        font-family: 'Century Gothic';
        color: #ABA3A3;
        font-weight: 400;
        font-size: 13px;
        font-style: normal;
        border: none;
        width: 100%;
        height: 16px;
      }

      .search_button {
        background: #B6B6B6;
        width: 43px;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 6px 6px 0px;
        padding: 0px;
      }
    }

    .search__input_area::placeholder {
      color: #ABA3A3;
      font-weight: 400;
      font-size: 13px;
    }

    .search__input_area:focus-visible {
      outline: none
    }

  }

  .order_tabs {
    height: 45px !important;
    width: 134.5px;
    // padding-right: 41px;


    .order_elements {
      height: 13px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 4px;

      .orderIcon_element {

        width: 25px;

        .order_icons {
          // width: 132px;
          padding-right: 4px;
          height: 13px;
        }
      }

      .order_text {
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 13px;

      }
    }
  }

  .contact_details {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    width: 114px;
    // padding-right: 41px;


    .contact_details_now {
      font-size: 9px;
    }

    .headphone_details {

      display: flex;
      align-items: center;

      .headphones_icon {
        width: 19px;
        height: 19px;
      }

      .headphones_number {
        padding-left: 3px;
        font-size: 13px;
      }
    }


    .sig_in_contact {
      font-size: 13px;
    }
  }


  .user_details {
    width: 155.5px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .cart_contenet {
      display: flex;
      align-items: center;
      gap: 2px
    }

  }

  .burger_menu {
    display: none;

  }
}


@media (max-width:1700px) {
  .search_bar {
    width: 40% !important;

    .search_categories {
      padding-left: unset !important;
    }

    .all_categories {
      display: none;
    }

  }
}

@media screen and (max-width:1030px) {

  .search_bar {
    width: 50% !important;
  }

  .order_tabs {
    display: none;
  }

  .contact_details {
    display: none;
  }

  .burger_menu {
    display: block !important;
    height: 34px;

    .menu_icon {
      height: 100%;
    }
  }

}


@media screen and (max-width:767px) {

  .header_bar {
    position: relative;
    // justify-content: space-between;

    .contact_details {
      display: block;
      visibility: hidden;
    }

    .search_bar {
      position: absolute;
      top: 70px;
      width: 99% !important;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .all_categories {
      display: inline
    }
  }
}


.burgger_contents{
  margin: 10px;

  .burgger_icon_content{
    height: 44px;
    padding: 5px;

    .burgger_icon{
      height: 100%;
    }
  }
}

