.header_navv_parent {
    height: 52px;
    background-color: #0E3B3E;
    display: flex;
    align-items: center;
    color: #ffff;
    justify-content: space-between;

    .category {
        margin-left: 4%;
    }

    .social_platforms {
        margin-right: 6%;
    }
}


@media (max-width: 1030px) {
    .header_navv_parent {
        display: none;
    }
}